@charset "utf-8";
/* CSS Document */
html,body,img,li{ padding:0; margin:0;}
.content img{ border:none; width:100%; display:block;}
.inline{ display:inline;}
.clearfix{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.main{ position:relative; margin:auto; zoom=1; overflow:hidden;}
.nav{ position:absolute; width:100%; height:80px; z-index:10;}
.navli{ width:95.8%; margin:auto;}
.nav li{ position:relative; display:block; width:18.1%; list-style:none; list-style-type:none;}
.nav li .navbk img{ width:100%; display:block;}
.navleft,.navright{ width:50%;}
.navleft li{ margin-left:10px;}
.navright li{ margin-right:10px;}
.nav li a{ display:block;}
.navbk{ height:37px;}
.nav li:hover .navbottom{ display:block;}
.nav li .navlink{ position:absolute; top:0; left:0; width:100%; font:14px; text-align:center; color:#FFF; font-family:"微软雅黑"; text-decoration:none; }
.nav li .navlink:hover{ text-decoration:none; text-shadow:-2px -2px 2px #0768b7;} 
.nav li .navbottom{ width:100%; display:none;}
.nav li .navbottom img{ width:100%; display:block;}
