@charset "utf-8";
/* CSS Document */
html,ul,li,img,body,h4,p,h3,ol,dl{
	padding:0; 
	margin:0;}
ul,li{
	list-style:none;}
html{
	display:block;
	font-family:Verdana,Tahoma,Helvetica,Arial,sans-serif;}
body{
	background:#F3F3F3;}
.fl{
	float:left;}
.fr{
	float:right;}
.clearfix{
	clear:both;
	overflow:hidden;
	height:0;
	visibility:hidden;}
a{
	margin:0;
	border:0;
	text-decoration:none;
	color:#65A2DF;}
a:hover,a:visited,a:active{
	text-decoration:none;
	color:#65A2DF;}
input{
	-webkit-appearrance:none;}
input:focus{
	outline:none;}
.mt2{
	margin-top:2px;}
.wrap{
	margin:auto;}
.head,.navlinkarea{
	margin-left:10px;
	margin-right:10px;}
.logoarea{
	border-bottom:1px solid #DDDDDD;}
.newsarea{
	line-height:1.4em;
	font-size:0.8em;}
.newsarea span{
	color:#65A2DF;}
.newsarea a{
	color:#000;}
.searcharea{
	background:#65A2DF;
	height:45px;}
.searchinput{
	text-indent:1em;
	height:31px;
	margin:7px 0 7px 10px;
	width:72%;}
.searchbtn{
	display:block;
	width:20%;
	height:31px;
	margin:7px;
	line-height:30px;
	text-align:center;
	font-weight:600;
	font-size:0.8em;
	background:#EEEEEE;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;	
	color:#000;}
.searchbtn:hover,.searchbtn:active,.searchbtn:visited{
	color:#000;
	background:#DDDDDD;}
.navitit{
	height:30px;
	background:#65A2DF;}
.navitit span{
	color:#FFF;
	line-height:30px;
	margin-left:5px;}
.navitit i{
	background:url(../images/icons_all.png);}
.navitit i{
	display:block;
	width:14px;
	height:14px;
	margin:8px;
	background-position:-306px -122px;}
.open{
	background-position:-293px -122px;}
.hotlinkall li:nth-child(2),.hotlinkall li:nth-child(5),.hotlinkall li:nth-child(8),.hotlinkall li:nth-child(11){
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	}
.hotlinkall li:nth-child(10),.hotlinkall li:nth-child(11),.hotlinkall li:nth-child(12){
	border-bottom:1px solid #65A2DF;}
.hotlinkall li{
	position:relative;
	width:33%;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #CCCCCC;}
.hotlinkall li a{
	display:block;
	text-align:center;
	text-indent:1.7em;
	width:100%;
	height:100%;}
.hotlinkall li a:after{
	position:absolute;
	content: '';
	top:0.2em;
	left:10%;
	display:block;
	background:#000;
	width:30px;
	height:30px;
	background:url(../images/icons_all.png);}
.hotlinkall li:nth-child(1) a:after{
	background-position:-13px 0px;}
.hotlinkall li:nth-child(2) a:after{
	background-position:-120px 0px;}
.hotlinkall li:nth-child(3) a:after{
	background-position:-225px 0px;}
.hotlinkall li:nth-child(4) a:after{
	background-position:-13px -30px;}
.hotlinkall li:nth-child(5) a:after{
	background-position:-120px -30px;}
.hotlinkall li:nth-child(6) a:after{
	background-position:-225px -30px;}
.hotlinkall li:nth-child(7) a:after{
	background-position:-13px -60px;}
.hotlinkall li:nth-child(8) a:after{
	background-position:-120px -60px;}
.hotlinkall li:nth-child(9) a:after{
	background-position:-225px -60px;}
.hotlinkall li:nth-child(10) a:after{
	background-position:-13px -90px;}
.hotlinkall li:nth-child(11) a:after{
	background-position:-120px -90px;}
.hotlinkall li:nth-child(12) a:after{
	background-position:-225px -90px;}
.linkline,.freeline,.readline,.toolline{
	height:25px;
	line-height:25px;}
.linkline,.freeline,.readline{
	border-bottom:1px solid #B5B5B5;
	}	
.freeline:nth-child(3){
	border-bottom:1px solid #65A2DF;
	}
.linetit{
	display:block;
	margin-top:2px;
	height:20px;
	width:45px;
	font-weight:600;
	text-align:center;
	line-height:20px;
	background:#E5E5E5;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;}	
.freelink a{
	margin-left:0.5em;}	
.linkline p a{
	display:block;
	float:left;
	text-align:center;
	padding:0 5px;
	}
.toolline{
	border:none;}
.toolline p{
	width:100%;}
.toolline p a{
	display:block;
	float:left;
	text-align:center;
	width:20%;
	padding:0;}
.readline:nth-child(8),.enterline:nth-child(5),.buyline:nth-child(7),.lifeline:nth-child(5){
	border-bottom:1px solid #65A2DF;
	}
.foot{
	position:relative;
	background:#E5E5E5;
	text-align:center;
	font-size:1em;
	margin-top:1.5em;
	line-height:40px;
	height:40px;}
.backtop{
	position:absolute;
	display:block;
	height:40px;
	width:100px;
	line-height:40px;
	top:0;
	right:10px;
	z-index:10;}
.toggle{
	display:none;}
.alllink{
	width:100%;}

@media only screen and (min-width:960px) and (max-width:4000px){
	.wrap{ width:960px; }
	.coloum{ float:left;width:300px; margin-top:2px; margin-left:10px; margin-right:10px;}
	.enterarea{ height:250px;}
}

@media only screen and (min-width:768px) and (max-width:960px){
	.wrap{ width:768px;}
	.coloum{ float:left;width:364px; margin-top:2px; margin-left:10px; margin-right:10px;}
	.enterarea{ height:250px;}
}
@media only screen and (min-width:640px) and (max-width:768px){
	.wrap{ width:640px;}
	.coloum{ float:left;width:300px; margin-top:2px; margin-left:10px; margin-right:10px; margin-top:2px;}
}
@media only screen and (min-width:320px) and (max-width:640px){
	.wrap{ width:auto;}
	.alllink{ padding-left:10px; padding-right:10px;}
	.coloum{ width:auto;
	 margin-top:2px;} 
	}
@media only screen and (min-width:0px) and (max-width:320px){
	.wrap{ width:320px;}
	.coloum{ float:left;width:300px; margin-left:10px; margin-right:10px;
	margin-top:2px;}
	}
