@charset "utf-8";
/* CSS Document */
body,div,p,h1,h2,h3,em,span,a,td,form,input,select,textarea{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:"hei",arial,sans-serif;}
h2,h3,em,strong{font-weight:bold;}
ul,li,dl,dd,ol{ margin:0;padding:0;list-style:none;list-style-type:none;}
a img{border:none;}
img{ display:block; padding:0; margin:0;}
a{color:#106eb4;text-decoration:none;}
a:hover{color:#106eb4;text-decoration:none;}
input,select,textarea{vertical-align:middle;}
input.error,textarea.error,select.error{border:1px dashed red!important;}
table{border-collapse:separate;border-spacing:0;padding:0 8px;vertical-align:middle;width:100%}
caption,th,td{font-weight:400;text-align:left;vertical-align:middle}
em,dfn,var,cite{font-style:italic}
code,samp,kbd{font-family:monospace}
sup{font-size:80%;vertical-align:super}
sub{font-size:80%;vertical-align:sub}
pre{font-family:monospace;white-space:pre}
address{font-style:italic;white-space:pre-line}
hr{border:thin solid #CCC;margin:.5em auto}
ol li{list-style-image:none;list-style-position:outside;list-style-type:decimal;margin-left:2em}
ul{margin:0 auto;padding:0;}
ul li{list-style:none;}
blockquote{padding:0 2em}
caption{border-bottom:thin solid #363534;margin:0 8px;text-align:center}
.clearfix:before,.clearfix:after{content:"\0020"; display: block; height: 0;line-height:0; clear: both; visibility: hidden ;overflow: hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.hide{display:none;}
.tc_fff{color:#ffffff;}
.red{color:#c23137;}
.bred{background:#ca243a;}
#logo{border-bottom:1px solid #cbcbcb;}
.center{text-align:center!important;}
h4 {font-size: 1em;line-height: 2em;padding: 0;margin: 0;}
.fl{ float:left;}
.fr{ float:right;}
.bold{ font-weight:bold;}
input.error,textarea.error,select.error{border:1px dashed red!important;background:yellow;}
.underline1{ height:1px; background:#CCC;}
.underline2{ height:2px; background:#CCC;}
/*公共样式end*/

body{
	background:url(../images/main-bg.png);}
.wrap{
	margin:auto auto 50px auto;}
.main{
	margin:auto 30px 50px 30px;}
.logo a:hover,.headermore a:hover{ text-decoration:none;}
.logo a i,.logo a h3,.headermore a i,.headermore a span{
	display:table-cell;}
.logo a i,.headermore a i{
	vertical-align:middle;}
.logo a h3,.headermore a span{
	vertical-align:bottom;}
.headermore a i{
	height:20px;}
.logo a{
	display:block;}
.logo a h3 span{
	display:block;
	line-height:50px;
	font-size:1.8em;
	margin-bottom:10px;}
.headermore{
	margin-top:62px;}
.headermore a{ 
	display:block;
	padding:4px 10px;
	line-height:20px;
	font-size:13px;
	background:#EDEEE8;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	/*border:1px solid #CCC;*/
	box-shadow:1px 1px 1px #CCC;
	-webkit-box-shadow:1px 1px 1px #CCC;
	-moz-box-shadow:1px 1px 1px #CCC;}
.weibolink,.bloglink{
	margin-right:15px;}
.headermore a:hover{
	background:#FFF;}
.logo i img,.headermore a i img{
	vertical-align:middle;}
.headermore a span{
	padding-left:5px;
	color:#000;}

/*table style */
.tabarea{
	position:relative;
	width:100%;
	margin-top:10px;}
.tabarea .top-title{
	height:34px;}
.tabarea .top-title li{
	float:left;
	text-align:center;
	width:25%;
	padding:0;
	margin:0;
	line-height:35px;
	font-size:1em;
	list-style:none;
	list-style-type:none;
	cursor:pointer;
	font-size:14px;
	background:#E1E1E1;
	font-weight:bold;
	border-bottom:2px solid #E1E1E1;}
#one1,#one2,#one3,#one4{
	position:relative;
	box-sizing:border-box;}
#one1 p,#one2 p,#one3 p,#one4 p{
	position:absolute;
	display:block;
	width:100%;
	background:#E1E1E1;
	color:#000;
	top:35px;
	line-height:25px;
	height:0px;
	text-align:center;
	z-index:20;
	overflow:hidden;}
#one1 p:hover,#one2 p:hover,#one3 p:hover,#one4 p:hover{
	background:#FFF;
	color:#000;}
#one1{
	border-top-left-radius:5px;}
#one4{
	border-top-right-radius:5px;}
#one1,#one2,#one3{
	border-right:1px solid #CCC;}
.tabarea .top-title li.hoverLi{
	color:#1D91CE;
	font-weight:bold;
	background:#FFF;
	border-bottom:2px solid #E1E1E1;}
#cont_one_1,#cont_one_2,#cont_one_3,#cont_one_4{
	width:100%;
	margin-top:35px; 
	text-align:center; 
	font-size:30px; 
	color:#FFF;}
.demo{
	box-sizing:border-box;
	width:33.33%;
	float:left;
	background:none;
	margin:4px auto;
	padding:0 8px;}
.demo1{
	padding-right:8px;
	padding-left:0;}
.demo3{
	padding-left:8px;
	padding-right:0;}
.demodetail{
	position:relative;
	border:2px solid #FFF;
	background:#FFF;
	border-sizing:border-box;
	height:250px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	box-shadow:3px 3px 4px #E1E1E1;
	color:#000;
	overflow:hidden;}
.demodetail h2{
	text-align:left;
	font-size:0.6em;
	line-height:35px;
	padding-left:15px;
	border-top-left:6px;
	-webkit-border-top-left:6px;
	-moz-border-top-left:6px;}
.demodetailimg{
	width:100%;
	padding-top:30px;
	text-align:center;
	vertical-align:middle;}
.demodetailimg img{
	margin:auto;}
.desc{
	position:absolute;
	bottom:6px;
	left:0;
	width:100%;
	padding:0 8px;
	border-bottom-left:6px;
	-webkit-border-bottom-left:6px;
	-moz-border-bottom-left:6px;
	font-size:14px;
	box-sizing:border-box;}
.desc p{
	display:block;
	box-sizing:border-box;
	margin:auto;
	text-align:left;
	line-height:22px;}
.desc p span{
	display:block;
	float:left;}
.desc p span.desctit{
	width:45px;
	text-align:right;
	font-weight:bold;}
.desc p span.desccon{}
.cover{
	position:absolute;
	z-index:10;
	bottom:-100px;
	left:0;
	width:100%;
	height:100px;
	background: rgba(0,0,0,0.5);
	filter:alpha(opacity=50);
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;}
.cover a{
	display:block;
	width:100%;
	height:100%;}
.coverlink{
	position:relative;
	margin:30px auto;
	width:200px;
	height:40px;
	background:#00F;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#FFF;
	font-weight:bold;
	font-size:0.6em;
	line-height:40px;}
.goweb{
	font-size: 9px;
	height: 0.7em;
	width: 0.25em;
	border-bottom: none;
	border-right: 0.7em solid #FFF;
	border-left: 0.7em solid #FFF;
	border-top: 0.7em solid #FFF;
	position:absolute;
	top:2.3em;
	left:4em;}
.goweb::before {
	border-left: 1.2em solid transparent;
	position: absolute;
	content: "";
	top: -2em;
	right: -1em;
	width: 0em;
	height: 0em;
	border-right: 1.2em solid transparent;
	border-bottom: 1.5em solid #FFF;}
	
/*最新demo list*/
.yourplace{
	line-height:45px;
	font-size:14px;}
.table{
	background:#FFF;}

@media only screen and (min-width:880px) and (max-width:3000px){
	.demo{
		width:33.33%;}
	.demo1{
		padding-right:8px;
		padding-left:0;}
	.demo3{
		padding-left:8px;
		padding-right:0;}
	}
@media only screen and (min-width:692px) and (max-width:880px){
	.demo{
		width:50%;}
	#cont_one_1 .demo:nth-child(odd){
		padding-right:8px;
		padding-left:0;}
	#cont_one_1 .demo:nth-child(even){
		padding-left:8px;
		padding-right:0;}
	}
@media only screen and (min-width:620px) and (max-width:692px){
	.demo{
		width:49%;
		padding:0;
		margin:10px auto auto auto;}		
	#cont_one_1 .demo:nth-child(odd){
		padding-right:8px;
		padding-left:0;}
	#cont_one_1 .demo:nth-child(even){
		padding-left:8px;
		padding-right:0;}
	.headermore{
		float:left;
		margin-top:2px;
		margin-bottom:15px;}
	.tabarea .top-title li{
		width:49%;}
	#one2{
		border-right:none;}
	#one1{
		border-top-left-radius:5px;}
	#one2{
		border-top-right-radius:5px;}
	#one4{
		border-top-right-radius:0px;}
	}
@media only screen and (min-width:0px) and (max-width:620px){
	.headermore{
		float:left;
		margin-top:2px;
		margin-bottom:15px;}
	.tabarea .top-title li{
		width:49%;}
	#one2{
		border-right:none;}
	#one1{
		border-top-left-radius:5px;}
	#one2{
		border-top-right-radius:5px;}
	#one4{
		border-top-right-radius:0px;}
	.demo{
		width:98%;
		padding:0;
		margin:10px auto auto auto;}		
	.main{
		min-width:320px;
		margin:auto 10px;}
	}
		