@charset "utf-8";
/* CSS Document */

html,ul,li,img,body,h4,p,h3,ol,dl{
	padding:0; 
	margin:0;}
html{
	font-size:1em;
	display:block;
	font-family:"黑体",Verdana,Tahoma,Helvetica,Arial,sans-serif;}
img{ 
	display:block; 
	border:none;}
.fl{
	float:left;}
.fr{
	float:right;}
.clearfix{
	clear:both;
	overflow:hidden;
	height:0;
	visibility:hidden;
	}
a{
	text-decoration:none;}
a:hover,a:visited,a:active{
	text-decoration:none;
	}
input,select{
	-webkit-appearance:none;
	outline:none;}
input:focus,select:focus{
	-webkit-appearance:none;
	outline:none;}
.body{
	background:#FFF;}
.wrap{
	width:320px;
	height:100%;
	margin:auto;
	background:#f2e9e3;}
.detail{
	font-size:0.9em;
	color:#3c0e0d;
	padding:0.4em 0 0.4em 1.2em;
	background:url(../images/bk1.jpg);
	line-height:1.6em;}
.red{
	color:#b3181f;
	}
.formarea{
	height:325px;
	padding:0.5em 0 0.5em 1em;}
.p_input{
	height:37px;
	line-height:37px;
	font-size:1em;}
.p_input span{
	display:block;
	float:left;}
.nametit{
	display:block;
	width:1em;
	height:25px;}
input[type="text"]{
	width:208px;
	height:28px;
	font-size:1.2en;
	background:#DBD9D8;
	border-top:1px solid #8E8C8C;
	border-left:1px solid #999797;
	border-bottom:none;
	border-right:1px solid #E7E3E1;}
input[type="checkbox"]{
	width:30px;
	height:28px;
	background:url(../images/no.png) no-repeat;}
input[type="checkbox"]:checked{
	width:30px;
	height:28px;
	background:url(../images/yes.png) no-repeat;}
select{
	width:211px;
	height:32px;
	font-size:1.2en;
	border:none;
	background:url(../images/select.jpg) no-repeat;
	}
.p_inputck{
	height:45px;}
.p_inputck input{
	margin-top:15px;
	display:block;
	float:left;}
.p_inputck span{
	margin-top:15px;
	line-height:30px;
	font-size:1em;}
.moreinfo{
	margin-top:5px;
	text-align:center;
	text-indent:-0.5em;
	text-decoration:underline;}
.btn_submit,.govisit{
	display:block;
	line-height:40px;
	text-align:center;
	color:#FFF;
	font-size:1.2em;
	background:#CC3D3C;
	background: -webkit-gradient(linear, left top, left bottom, from(#D04B4A), to(#B11513), color-stop(0.5, #CC3B3A), color-stop(0.501, #BD1615));
	background: -moz-linear-gradient(top, #D04B4A, #B11513); 
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	box-shadow:2px 2px 2px #6F6B68;
	cursor:pointer;
	}
.btn_submit{
	margin:15px auto auto;
	width:140px;
	height:40px;}
.govisit{
	margin:10px auto auto;
	width:180px;
	height:40px;}
.resultarea{
	width:296px;
	height:133px;
	background:url(../images/bk3.png);
	margin:10px auto auto;
	border:1px solid #dc9da3;
	text-align:center;
	line-height:24px;
	padding-top:24px;
	color:#3c0e0d;}
.mainresult{
	height:500px;}
input.error,select.error{border:1px dashed red}
